.App {
  margin: 0 auto;
  padding: 15px;

  max-width: 1200px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.additional-text {
  text-decoration: none;

  margin: 10px 0;
  margin-right: 5px;
  color: #929292;
  font-size: 13px;
}

.additional-text--mark {
  color: #000;
}

.additional-text--link:hover {
  color: #3232e9;
}

.warning {
  font-size: 14px;
  color: #af2d2d;
}
